#Tarea 1
#Ricardo Zamora Mennigke

#Ejercicio 1
##1. a) >Cual es el resultado?

In [9]:
###1
import math as mt
r=(mt.pi*(5**4))-(mt.sqrt(9))
print(r)

1960.4954084936207

In [10]:
###2
r=mt.fabs(12-17*(2/7)-9)
print(r)

1.8571428571428568

In [12]:
###3
r=mt.factorial(7)
print(r)

5040

In [13]:
###4
r=mt.log(19,5)
print(r)

1.8294828004351504
0.6989700043360187
1.7427372337331462

In [14]:
###5
r=mt.log(5,10)
print(r)

0.6989700043360187

In [15]:
###6
r=(mt.e**0.555457)
print(r)

1.7427372337331462

In [16]:
##1.b) Calcule el valor de x
y=mt.pi
z=4
x=(1+y)/(1+2*(z**2))
print(x)

0.1255028076845392

In [17]:
##1.c) Calcule el valor de x
x=(-90)
y=mt.pi
z=mt.sqrt(x**2+y**2)
print(z)

90.05481444321059

#Ejercicio 2
##Dado x y y como listas

In [19]:
###Listas
x=[1,-5,31,-1,-9,-1,0,18,90,mt.pi]
y=[1,9,-3,1,-99,-10,2,-11,0,2]
print(x)
print(y)

[1, -5, 31, -1, -9, -1, 0, 18, 90, 3.141592653589793]
[1, 9, -3, 1, -99, -10, 2, -11, 0, 2]

In [20]:
###Estadisticas de y
import statistics as st
print(st.mean(y))
print(st.pvariance(y))
print(st.pstdev(y))

-10.8
895.5600000000001
29.92590850751235

In [21]:
###Estadisticas de x
print(st.mean(x))
print(st.pvariance(x))
print(st.pstdev(x))

12.71415926535898
788.7371146151954
28.0844639367604

In [22]:
###Correlacion x y y
import numpy as np
print(np.corrcoef(x,y)[0,1])

0.23135287263564386

In [23]:
###Extraer indices del 2 al 7 de x
print(x[2:8])

[31, -1, -9, -1, 0, 18]

In [24]:
###Extraer indices del 2 y 7 de y
print(y[2], y[7])

-3 -11

In [25]:
###Extraer ultimos 3 valores de y
print(y[-3:])

[-11, 0, 2]

In [26]:
###x invertida
print(x[:-11:-1])

[3.141592653589793, 90, 18, 0, -1, -9, -1, 31, -5, 1]

#Ejercicio 3
###Tabla de datos en un data frame

In [27]:
import pandas as pd
datos = {'Genero':["M", "F","F", "F","M","F"],
         'Peso': ["76", "67","55","57","87","48"],
         'Edad':["25","23","19","18","56","13"],
         'Nivel Educativo': ["Lic", "Bach", "Bach", "Bach", "Dr", "MSc"]}
tabla = pd.DataFrame(datos)
print(tabla)

  Genero Peso Edad Nivel Educativo
0      M   76   25             Lic
1      F   67   23            Bach
2      F   55   19            Bach
3      F   57   18            Bach
4      M   87   56              Dr
5      F   48   13             MSc

#Ejercicio 4
###Tabla de datos en un data frame

In [29]:
datos1 = {'id':["1","2","3","4","5","6","7","8","9","10"],
          'calificacion':["B","C","B","A","A","A","C","B","A","B"],
          'tiempo':["64","85","76","83","81","78","68","82","89","62"]}
tabla1 = pd.DataFrame(datos1)

print(tabla1)
print(tabla1.info())

   id calificacion tiempo
0   1            B     64
1   2            C     85
2   3            B     76
3   4            A     83
4   5            A     81
5   6            A     78
6   7            C     68
7   8            B     82
8   9            A     89
9  10            B     62
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10 entries, 0 to 9
Data columns (total 3 columns):
id              10 non-null object
calificacion    10 non-null object
tiempo          10 non-null object
dtypes: object(3)
memory usage: 368.0+ bytes
None

##Ejercicio 5
###Realice las operaciones dado x

In [30]:
###Indices de vector divididos entre 2 son igual a 45
x = [24,28,29,18,95,97,90,72,87,85,74,9,40]
sumatoria = 0 

for elemento in x:
    elemento = 90
    indice = x.index(elemento)
    elemento = elemento + 1 
print(indice)

6

In [31]:
###Valor mas alto del vector
indice2 = x.index(max(x))
print(indice2)

5

In [32]:
###Suma de valores de lista usando for
for elemento in x:
    sumatoria = sumatoria + elemento
print(sumatoria)

748

In [33]:
###Suma de valores eleveados al cubo usando for
sumat=0
for elemento in x:
    cuadrado = elemento**2
    sumat = sumat + cuadrado
print(sumat)

56194

#Ejercicio 6
###Calcule sumatoria usando sum de v1, v2 y v3, y luego empleando for

In [34]:
v1 = [2,7,6,4,52,-2]
v2 = [7,5,7,0,1,0]
v3 = [2,4,3,5,6, mt.pi]

print(sum(v1))
print(sum(v2))
print(sum(v3))

sumatoria1 = 0 
sumatoria2 = 0 
sumatoria3 = 0 

for elemento in v1:
    sumatoria1 = sumatoria1 + elemento
print(sumatoria1)


for elemento in v2:
    sumatoria2 = sumatoria2 + elemento
print(sumatoria2)


for elemento in v3:
    sumatoria3 = sumatoria3 + elemento
print(sumatoria3)

69
20
23.141592653589793
69
20
23.141592653589793

#Ejercicio 7
###Construya un diccionario x resumen

In [35]:
x = [24,28,29,18,95,97,90,72,87,85,74,9,40,91,87,92,-3]
resumen = {"Media":st.mean(x), "Moda":st.mode(x),"Maximo":max(x),"Minimo":min(x)}
print(resumen)

{'Media': 59.705882352941174, 'Moda': 87, 'Maximo': 97, 'Minimo': -3}

#Ejercicio 8
###Efectue la operacion entre matrices

In [36]:
M = np.matrix([[9,3,4],[1,3,-1]])
N = np.matrix([[91,-3],[1,8],[-4,5]])
A = M + 31*N.T
print(A)

[[2830   34 -120]
 [ -92  251  154]]

#Ejercicio 9
###Cargue en un data frame el archivo

In [37]:
import os
pasada = os.getcwd()
os.chdir("C:/Users/rzamoram/Documents/Programacion en Python/Clase 1")
os.getcwd()
ejemplo = pd.read_csv("EjemploAlgoritmosRecomendacion.csv", delimiter = ';', decimal = ",",
                      header = 0, index_col = 0)
print(ejemplo)
data = pd.DataFrame(ejemplo)

         VelocidadEntrega  Precio  Durabilidad  ImagenProducto  \
Adam                 2.05    0.30         3.45            2.35
Anna                 0.90    1.50         3.15            3.30
Bernard              1.70    2.60         2.85            3.00
Edward               1.35    0.50         3.55            2.95
Emilia               3.00    0.45         4.80            3.90
...                   ...     ...          ...             ...
Teofan               0.30    0.80         3.20            2.50
Teofil               3.05    0.25         4.60            2.40
Teofila              1.00    1.40         2.60            2.50
Teon                 1.55    1.10         3.35            3.40
Teresa               1.25    0.90         4.50            2.50

         ValorEducativo  ServicioRetorno  TamanoPaquete  Calidad Producto  \
Adam                2.4              2.3           2.60              2.10
Anna                2.5              4.0           4.20              2.15
Bernard             4.3              2.7           4.10              2.60
Edward              1.8              2.3           3.90              1.95
Emilia              3.4              4.6           2.25              3.40
...                 ...              ...            ...               ...
Teofan              0.7              2.1           4.20              1.70
Teofil              3.3              2.8           3.55              2.60
Teofila             2.4              2.7           4.20              1.85
Teon                2.6              2.9           4.20              2.15
Teresa              2.2              3.0           3.00              2.20

         NumeroEstrellas
Adam                 1.7
Anna                 2.8
Bernard              3.3
Edward               1.7
Emilia               4.3
...                  ...
Teofan               1.0
Teofil               4.5
Teofila              2.3
Teon                 2.7
Teresa               1.8

[100 rows x 9 columns]

In [38]:
###Dimensiones de la tabla
print(data)
print(data.shape)

         VelocidadEntrega  Precio  Durabilidad  ImagenProducto  \
Adam                 2.05    0.30         3.45            2.35
Anna                 0.90    1.50         3.15            3.30
Bernard              1.70    2.60         2.85            3.00
Edward               1.35    0.50         3.55            2.95
Emilia               3.00    0.45         4.80            3.90
...                   ...     ...          ...             ...
Teofan               0.30    0.80         3.20            2.50
Teofil               3.05    0.25         4.60            2.40
Teofila              1.00    1.40         2.60            2.50
Teon                 1.55    1.10         3.35            3.40
Teresa               1.25    0.90         4.50            2.50

         ValorEducativo  ServicioRetorno  TamanoPaquete  Calidad Producto  \
Adam                2.4              2.3           2.60              2.10
Anna                2.5              4.0           4.20              2.15
Bernard             4.3              2.7           4.10              2.60
Edward              1.8              2.3           3.90              1.95
Emilia              3.4              4.6           2.25              3.40
...                 ...              ...            ...               ...
Teofan              0.7              2.1           4.20              1.70
Teofil              3.3              2.8           3.55              2.60
Teofila             2.4              2.7           4.20              1.85
Teon                2.6              2.9           4.20              2.15
Teresa              2.2              3.0           3.00              2.20

         NumeroEstrellas
Adam                 1.7
Anna                 2.8
Bernard              3.3
Edward               1.7
Emilia               4.3
...                  ...
Teofan               1.0
Teofil               4.5
Teofila              2.3
Teon                 2.7
Teresa               1.8

[100 rows x 9 columns]
(100, 9)

In [39]:
###Primeras 3 columnas usando []
print(data[["VelocidadEntrega","Precio"]])

         VelocidadEntrega  Precio
Adam                 2.05    0.30
Anna                 0.90    1.50
Bernard              1.70    2.60
Edward               1.35    0.50
Emilia               3.00    0.45
...                   ...     ...
Teofan               0.30    0.80
Teofil               3.05    0.25
Teofila              1.00    1.40
Teon                 1.55    1.10
Teresa               1.25    0.90

[100 rows x 2 columns]

In [40]:
###Primeras 3 columnas usando iloc
print(data.iloc[:,0:2])

         VelocidadEntrega  Precio
Adam                 2.05    0.30
Anna                 0.90    1.50
Bernard              1.70    2.60
Edward               1.35    0.50
Emilia               3.00    0.45
...                   ...     ...
Teofan               0.30    0.80
Teofil               3.05    0.25
Teofila              1.00    1.40
Teon                 1.55    1.10
Teresa               1.25    0.90

[100 rows x 2 columns]

In [41]:
###Primeras 3 columnas usando loc
print(data.loc[:,["VelocidadEntrega","Precio"]])

         VelocidadEntrega  Precio
Adam                 2.05    0.30
Anna                 0.90    1.50
Bernard              1.70    2.60
Edward               1.35    0.50
Emilia               3.00    0.45
...                   ...     ...
Teofan               0.30    0.80
Teofil               3.05    0.25
Teofila              1.00    1.40
Teon                 1.55    1.10
Teresa               1.25    0.90

[100 rows x 2 columns]

In [42]:
###info de los datos
print(data.info())

<class 'pandas.core.frame.DataFrame'>
Index: 100 entries, Adam to Teresa
Data columns (total 9 columns):
VelocidadEntrega    100 non-null float64
Precio              100 non-null float64
Durabilidad         100 non-null float64
ImagenProducto      100 non-null float64
ValorEducativo      100 non-null float64
ServicioRetorno     100 non-null float64
TamanoPaquete       100 non-null float64
Calidad Producto    100 non-null float64
NumeroEstrellas     100 non-null float64
dtypes: float64(9)
memory usage: 7.8+ KB
None

In [43]:
###Media para todas las variables
print(data.describe(include = [np.number]))
print(ejemplo.mean())

       VelocidadEntrega      Precio  Durabilidad  ImagenProducto  \
count        100.000000  100.000000   100.000000      100.000000
mean           1.757500    1.182000     3.947000        2.624000
std            0.660363    0.597829     0.693251        0.565707
min            0.000000    0.100000     2.500000        1.250000
25%            1.250000    0.737500     3.350000        2.287500
50%            1.700000    1.075000     4.025000        2.500000
75%            2.300000    1.612500     4.550000        3.000000
max            3.050000    2.700000     5.000000        4.100000

       ValorEducativo  ServicioRetorno  TamanoPaquete  Calidad Producto  \
count      100.000000       100.000000      100.00000        100.000000
mean         2.916000         2.665000        3.48550          2.385500
std          0.751258         0.770855        0.79262          0.427779
min          0.700000         1.100000        1.85000          1.600000
25%          2.400000         2.200000        2.90000          2.050000
50%          3.000000         2.600000        3.57500          2.425000
75%          3.425000         3.000000        4.16250          2.700000
max          4.600000         4.600000        5.00000          3.400000

       NumeroEstrellas
count       100.000000
mean          3.110000
std           0.898877
min           1.000000
25%           2.400000
50%           3.150000
75%           3.825000
max           5.000000
VelocidadEntrega    1.7575
Precio              1.1820
Durabilidad         3.9470
ImagenProducto      2.6240
ValorEducativo      2.9160
ServicioRetorno     2.6650
TamanoPaquete       3.4855
Calidad Producto    2.3855
NumeroEstrellas     3.1100
dtype: float64

#Ejercicio 10
###Cargue en un data frame el archivo

In [44]:
ejemplo1 = pd.read_csv("SAheart.csv", delimiter = ';', decimal = ".", header = 0, index_col = 0)
print(ejemplo1)
data1 = pd.DataFrame(ejemplo1)
print(data1)

     tobacco    ldl  adiposity  famhist  typea  obesity  alcohol  age chd
sbp
160    12.00   5.73      23.11  Present     49    25.30    97.20   52  Si
144     0.01   4.41      28.61   Absent     55    28.87     2.06   63  Si
118     0.08   3.48      32.28  Present     52    29.14     3.81   46  No
170     7.50   6.41      38.03  Present     51    31.99    24.26   58  Si
134    13.60   3.50      27.78  Present     60    25.99    57.34   49  Si
..       ...    ...        ...      ...    ...      ...      ...  ...  ..
214     0.40   5.98      31.72   Absent     64    28.45     0.00   58  No
182     4.20   4.41      32.10   Absent     52    28.61    18.72   52  Si
108     3.00   1.59      15.23   Absent     40    20.09    26.64   55  No
118     5.40  11.61      30.79   Absent     64    27.35    23.97   40  No
132     0.00   4.82      33.41  Present     62    14.70     0.00   46  Si

[462 rows x 9 columns]
     tobacco    ldl  adiposity  famhist  typea  obesity  alcohol  age chd
sbp
160    12.00   5.73      23.11  Present     49    25.30    97.20   52  Si
144     0.01   4.41      28.61   Absent     55    28.87     2.06   63  Si
118     0.08   3.48      32.28  Present     52    29.14     3.81   46  No
170     7.50   6.41      38.03  Present     51    31.99    24.26   58  Si
134    13.60   3.50      27.78  Present     60    25.99    57.34   49  Si
..       ...    ...        ...      ...    ...      ...      ...  ...  ..
214     0.40   5.98      31.72   Absent     64    28.45     0.00   58  No
182     4.20   4.41      32.10   Absent     52    28.61    18.72   52  Si
108     3.00   1.59      15.23   Absent     40    20.09    26.64   55  No
118     5.40  11.61      30.79   Absent     64    27.35    23.97   40  No
132     0.00   4.82      33.41  Present     62    14.70     0.00   46  Si

[462 rows x 9 columns]

In [45]:
###Dimensiones de la tabla
print(data1.shape)

(462, 9)

In [46]:
###Primeras 4 columnas usando []
print(data1[["tobacco","ldl", "adiposity"]])

     tobacco    ldl  adiposity
sbp
160    12.00   5.73      23.11
144     0.01   4.41      28.61
118     0.08   3.48      32.28
170     7.50   6.41      38.03
134    13.60   3.50      27.78
..       ...    ...        ...
214     0.40   5.98      31.72
182     4.20   4.41      32.10
108     3.00   1.59      15.23
118     5.40  11.61      30.79
132     0.00   4.82      33.41

[462 rows x 3 columns]

In [47]:
###Primeras 4 columnas usando iloc
print(data1.iloc[:,0:3])

     tobacco    ldl  adiposity
sbp
160    12.00   5.73      23.11
144     0.01   4.41      28.61
118     0.08   3.48      32.28
170     7.50   6.41      38.03
134    13.60   3.50      27.78
..       ...    ...        ...
214     0.40   5.98      31.72
182     4.20   4.41      32.10
108     3.00   1.59      15.23
118     5.40  11.61      30.79
132     0.00   4.82      33.41

[462 rows x 3 columns]

In [48]:
###Primeras 3 columnas usando loc
print(data1.loc[:,["tobacco","ldl", "adiposity"]])

     tobacco    ldl  adiposity
sbp
160    12.00   5.73      23.11
144     0.01   4.41      28.61
118     0.08   3.48      32.28
170     7.50   6.41      38.03
134    13.60   3.50      27.78
..       ...    ...        ...
214     0.40   5.98      31.72
182     4.20   4.41      32.10
108     3.00   1.59      15.23
118     5.40  11.61      30.79
132     0.00   4.82      33.41

[462 rows x 3 columns]

In [49]:
###info de los datos
print(data1.info())

<class 'pandas.core.frame.DataFrame'>
Int64Index: 462 entries, 160 to 132
Data columns (total 9 columns):
tobacco      462 non-null float64
ldl          462 non-null float64
adiposity    462 non-null float64
famhist      462 non-null object
typea        462 non-null int64
obesity      462 non-null float64
alcohol      462 non-null float64
age          462 non-null int64
chd          462 non-null object
dtypes: float64(5), int64(2), object(2)
memory usage: 36.1+ KB
None

In [50]:
###Suma de variables cuantitativas
data2 = data1.describe(include = [np.number])
print(data2.sum())

tobacco      508.981173
ldl          498.533734
adiposity    621.534930
typea        775.921430
obesity      630.825293
alcohol      682.627953
age          729.424974
dtype: float64

#Ejercicio 11
###Suma de numeros enteros elevados al cubo del 1 al 100

In [52]:
sumato1 = 0
for elemento in range(0,101):
    cuadrado = elemento**2
    sumato1 = sumato1 + cuadrado
print(sumato1)

338350

#Ejercicio 12
###Sumatoria de numeros comprendidos entre el 1 y el n

In [53]:
sumato2 = 0
n=200

for elemento in range(1,n+1):
    sumato2 = sumato2 + elemento
print(sumato2)

20100

#Ejercicio 13
###Sumatoria de numeros pares comprendidos entre el 1 y el n

In [54]:
sumato3 = 0
n=15

for elemento in range(2,n+1,2):
    sumato3 = sumato3 + elemento
print(sumato3)

56

#Ejercicio 14
###Sumatoria de numeros multiplos de 5 comprendidos entre el 1 y el n

In [55]:
sumato4 = 0
n=15 

for elemento in range(5,n+1,5):
    sumato4 = sumato4 + elemento
print(sumato4)

30

#Ejercicio 15
###Calcule la traza de la matriz

In [2]:
import numpy as np

A = np.matrix([[9,3,4],[1,0,-1],[4,12,-2]])

tam_filas, tam_columnas = A.shape
sumas_por_fila = []
suma = 0

for indice_fila in range(tam_filas):
    for indice_columna in range(tam_columnas):
        if [indice_fila] == [indice_columna]:
            suma = suma +  A[indice_fila, indice_columna]
            sumas_por_fila.append(suma)
            suma = 0
    
sum(sumas_por_fila)

7

#Ejercicio 16
###Obtenga el centro de la matriz

In [3]:
A = np.matrix([[1,1,1,1],[1,9,9,1],[1,9,9,1],[1,1,1,1]])
print(A[1:3,1:3])

[[9 9]
 [9 9]]